html{
  scroll-behavior: smooth;
}
body{
  background-size: 100%;
  font-family:'Courier New', Courier, monospace;
  font-size: 10px;
  background:#202329;
}
a{
  color: #00ff9d;
}


h1{
  text-decoration:underline;
  color:#ffffff;
  text-align: center;
  font-size:20px;
  }
h2{
  color: #ffffff;
  font-size: 15px;
  letter-spacing: .5em;
}
h3{
  color: #ffffff;
  font-size: 15px;
  font-weight: 10;
  text-align: center;
}


p{
  font-size: 16px;
  color: #F5EFED;
  padding: 14px 16px; 
}


::selection {
  background-color: #9bafb8;
  color: #F5EFED;
}


.navbar {
  font-family:'Courier New', Courier, monospace;
  top:0;
}
.navbar a {
  float: left;
  font-size: 14px;
  color: #00ff9d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  background-color: #2d353a;
  font-weight: bolder;
}
.dropdown {
  position: fixed;
  width: 100%;
  font-family:'Courier New', Courier, monospace;
  background-color: #2e343b;
  top: 0;
  left: 0;
}
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  text-decoration: underline;
  color: #9bafb8;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bolder;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  text-shadow: #83909c;
}
.dropdown-content {
  display: none;
  background-color: #2f363d;
  min-width: 160px;
  position: absolute; 
  overflow-y: auto;
  max-height: 300px;
}
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  text-shadow: #83909c 5px 5px;
}
.dropdown:hover{
  text-shadow: #83909c;
}
.dropdown:hover .dropdown-content {
  display:block;
}


.congrats{
  color: #ffffff;
  font-size: 20px;
}
img{
  width: 30%;
  border: solid 5px #ffffff;
}


::-webkit-scrollbar{
  width: 10px;
  transform: rotateX('180');
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track{
  background: rgba(0,0,0,0);
  border-radius: 20px;
}
::-webkit-scrollbar-track:hover{
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  background: #00ff9dda;
  border-radius: 0px;
  border-radius: 20px;
}
::-webkit-scrollbar-button{
  background-color: #ffffff00;
  height: 0px;
}

